# Go to -> https://docs.trustlesswork.com/trustless-work/developer-resources/request-api-key
NEXT_PUBLIC_API_KEY=""
NEXT_PUBLIC_TW_BASE_URL=https://dev.api.trustlesswork.com
NEXT_PUBLIC_POLLAR_PUBLISHABLE_KEY=""
